target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings

*.rdf
testFiles/*
!testFiles/unitTestsFiles

src/main/java/br/usp/ffclrp/dcm/lssb/transformation_software/ontologies

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
